<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 400px;
      margin: auto;
      text-align: center;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/user">Profile</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/dashboard">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signout"><span class="glyphicon glyphicon-user"></span>Logout</a></li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="card">

    <h6>userName:{{userName}}</h1>
      <h7>Email:{{email}}</h2>
        <p><button name="update">Update</button></p>
  </div>


  <footer class="container-fluid text-center" style="background-color:black">
    <p style="color:blanchedalmond">2019 @Solulab Inc Copyright</p>

  </footer>
  <script>
    $("button[name='update']").click(function () {

      window.location.href = '/updateUserInfo'

    })

  </script>

</body>

</html>