<!DOCTYPE html>
<html>

<head>
	<title>SignUp Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Custom Theme files -->
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //Custom Theme files -->
	<!-- web font -->
	<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- //web font -->
</head>

<body>

	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>SignUp Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form id="submitForm" >
					<input class="text" type="text" name="Username" placeholder="Username" required="">
					<input class="text email" id='email' type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<input class="text w3lpass" type="password" name="confirmPassword" placeholder="ConfirmPassword"
						required="">

					<input id='submit' type="submit" value="SIGNUP" >
				</form>
				<p>Have an Account? <a href="/login"> Login Now!</a></p>
				<p>{{error}}</p>
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>© 2019 C Solulab. All rights reserved </p>
		</div>

	</div>
	<!-- //main -->
	<script>
		var email = '{{email}}';
		document.getElementById('email').value = email;
		document.getElementById('email').readOnly = true;
		function myfunction() {
			document.getElementById('email').readOnly = true;
		}

		
		$("#submitForm").submit(function (e) {

			e.preventDefault(); // avoid to execute the actual submit of the form.

			var form = $(this);
			var url = '/registration';

			$.ajax({
				type: "POST",
				url: url,
				data: form.serialize(), // serializes the form's elements.
				success: function (data) {
					if (data.status == 'success') {
						window.location.href = '/login';
					}
					alert(data.message);

				},
				error: function (data) {

					alert(data.message);
				}
			});


		});



	</script>
</body>

</html>